:root {
  --primary-color: #ffb606;
  --secondary-color: #001b4c;
  --light-grey: #b0b0b0;
  --rooms-color: #f6f6f6;
  --p-grey: #898989;
  --footer-color: #2a292b;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 62px;
  letter-spacing: 1px;
}

h2 {
  font-size: 34px;
  letter-spacing: 1px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 15px;
}

/* Utility */
.container {
  max-width: 1200px;
  margin: auto;
}

.burger-menu {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-right: 30px;
  z-index: 3;
  display: none;
}

.btn {
  display: inline-block;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 8px 40px;
}

.btn-black {
  display: inline-block;
  border: 2px solid #000;
  background: transparent;
  color: #000;
  padding: 8px 40px;
}

.btn-yellow {
  display: inline-block;
  color: #fff;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  padding: 5px 13px;
}

.btn-yellow:hover {
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

.btn:hover {
  background: var(--primary-color);
  border: none;
}

.btn-black:hover {
  background: var(--primary-color);
  border: none;
  color: #fff;
}

.mb-2 {
  margin-bottom: 12px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 30px;
}

.m-section {
  margin: 80px 0;
}

.p-section {
  padding: 80px 0;
}

.p-section-2 {
  padding: 140px 0;
}

.p-grey {
  color: var(--p-grey);
}

.p-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

/* Header */
#header {
  position: relative;
  height: 95vh;
}

#header::after {
  content: "";
  background: url("../img/home\ img.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Main Header */
.main-header {
  background: var(--secondary-color);
  opacity: 0.8;
}

/* Top Header */
.top-header a:hover {
  color: #fff;
}

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--light-grey);
}

.top-header-left a {
  margin-right: 10px;
}

.top-header a {
  color: var(--light-grey);
}

.right-space i {
  margin-right: 10px;
}

.top-header-right a {
  margin-left: 10px;
}

/* Bottom Header */
.bottom-header {
  position: sticky; /* It doesn't work don't really know why*/
  top: 0;
}

.bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.bottom-header-links ul {
  display: flex;
}

.bottom-header-links ul li {
  padding: 20px;
  font-weight: 700;
}

.bottom-header-links a:hover {
  color: var(--primary-color);
}

.bottom-header-links a.current {
  color: var(--primary-color);
}

.book-now {
  border: none;
  background: var(--primary-color);
  color: #000;
  padding: 9px 25px;
}

.book-now:hover {
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* Showcase */
.showcase {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.showcase h1 {
  font-size: 62px;
}

.showcase p {
  font-size: 20px;
}

/* Introduction */
#intro .container {
  display: flex;
}

#intro > div {
  flex: 1;
}

.intro-left .intro-header h2 {
  text-transform: uppercase;
  position: relative;
}

.intro-left .intro-header h2::before {
  content: "";
  background: #000;
  width: 70px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.intro-left .intro-header h2 span {
  color: var(--primary-color);
}

.intro-left .intro-header p {
  font-style: italic;
}

/* Rooms */
#rooms {
  background: var(--rooms-color);
}

.rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rooms-header h2 span {
  color: var(--primary-color);
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.rooms-grid img {
  width: 100%;
  transition: transform 0.2s;
}

.rooms-grid img:hover {
  transform: scale(1.04);
}

.box-content {
  background: #fff;
}

.box-price {
  padding: 20px 30px;
}

.box-price a {
  color: #000;
}

.box-price a:hover {
  color: var(--primary-color);
}

.flex-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-price p {
  font-size: 19px;
  font-weight: 700;
}

.flex-price span {
  font-size: 14px;
  color: var(--p-grey);
}

/* Services */
#services {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.services-box {
  text-align: center;
}

.services-box h2 {
  color: #fff;
}

.service-box-1 {
  text-align: left;
}

.service-box-1 a {
  color: var(--primary-color);
  text-decoration: underline;
}

.service-p {
  color: var(--p-grey);
}

.services-box i {
  color: var(--primary-color);
}

.services-box h3 {
  font-weight: 400;
  color: #fff;
}

.services-box p {
  color: var(--light-grey);
}

/* Gallery */
#gallery {
  background: var(--primary-color);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  overflow: hidden;
  margin: 10px 50px;
}

.gallery-grid img {
  width: 450px;
  height: 350px;
  transition: transform 0.2s;
  max-width: 100%;
}

.gallery-grid img:hover {
  filter: grayscale(70%);
  transform: scale(1.04);
}

/* Counter */
#counters {
  position: relative;
}

#counters::after {
  content: "";
  background: transparent url(../img/counterbg.png) no-repeat center
    center/cover;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

#counters h2 {
  color: #fff;
}

#counters span {
  color: var(--primary-color);
}

/* Real time counter */
.counter {
  color: var(--primary-color);
  padding: 0 20px;
  font-size: 40px;
}

#counters .container {
  padding: 25px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
}

#counters h3 {
  font-size: 18px;
  color: var(--p-grey);
}

/* Newsletter */
#newsletter {
  background: #f6f6f6;
  position: relative;
}

#newsletter::before {
  content: "";
  background: url(../img/newsletter.png) no-repeat scroll center center;
  filter: brightness(40%);
  position: absolute;
  bottom: 0;
  left: 37%;
  width: 255px;
  height: 255px;
  z-index: 1;
}

#newsletter .container {
  display: flex;
  align-items: center;
}

#newsletter .container > div {
  flex: 1;
}

.newsletter-left p {
  font-size: 18px;
}

.newsletter-right input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--p-grey);
  padding: 10px 20px;
  width: 70%;
  height: 54px;
}

.newsletter-right input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.newsletter-right button {
  height: 54px;
  margin-left: 15px;
  cursor: pointer;
}

/* Footer */
#main-footer {
  background: var(--footer-color);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-first i {
  margin-right: 8px;
}

.footer-first li a:hover {
  border: 2px solid var(--primary-color);
  background: #fff;
  color: var(--primary-color);
}

.footer-newsletter h3 {
  font-size: 27px;
  color: #fff;
}

.footer-newsletter input {
  padding: 5px 20px;
}

.footer-newsletter button {
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

.footer-newsletter button:hover {
  background: var(--primary-color);
  color: #fff;
  border: none;
  transform: scale(1.15);
}

.footer-links a:hover {
  color: #fff;
}

.social-icons {
  display: flex;
}

.social-icons li {
  margin-left: 15px;
}

.social-icons a {
  font-size: 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-icons a:hover {
  background: var(--primary-color);
  color: #fff;
  border: none;
}

.bottom-footer {
  margin-top: 25px;
}

/* Go top */
.about-go-top .go-top-btn {
  position: fixed;
  padding: 10px 16px;
  background: var(--primary-color);
  bottom: 40px;
  right: 50px;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
}

.about-go-top .go-top-btn:hover {
  opacity: 0.8;
}

/* Rooms Page */
#header-rooms {
  position: relative;
  height: 50vh;
}

#header-rooms::after {
  content: "";
  background: url("../img/rooms.jpg") no-repeat center center/cover;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Main Header */
.main-header-rooms {
  background: rgba(0, 0, 0, 0.22);
  opacity: 0.8;
}

/* About Page */
/* Resort Story */
#resort-story .container {
  display: flex;
}

#resort-story .container > div {
  flex: 1;
}

.resort-story-right span {
  color: var(--primary-color);
}

.resort-story-right h5 {
  font-size: 15px;
  color: var(--light-grey);
  letter-spacing: 1px;
}

.resort-story-right h2 {
  position: relative;
}

.resort-story-right h2::before {
  content: "";
  background: #000;
  width: 70px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Why */
#why {
  background: var(--rooms-color);
}

.why-header {
  margin-bottom: 70px;
}

.why-header h2 span {
  color: var(--primary-color);
}

.why-flex {
  display: flex;
}

.why-flex > div {
  flex: 1;
}

.why-left li {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 80%;
}

.why-left li:last-child {
  border-bottom: none;
}

.why-left li a {
  color: var(--p-grey);
  font-size: 22px;
}

.why-left li a:hover {
  color: var(--primary-color);
}

.why-left a:hover i {
  transition: 0.3s;
  transform: translateX(10px);
}

.why-left i {
  color: var(--primary-color);
  margin-right: 20px;
}

/* Why Image Slider */
.slider {
  position: relative;
  height: 400px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide:nth-child(1) {
  background: url(../img/room1.png) no-repeat center center/cover;
  height: 400px;
}

.slide:nth-child(2) {
  background: url(../img/room2.png) no-repeat center center/cover;
  height: 400px;
}

.slide:nth-child(3) {
  background: url(../img/room3.png) no-repeat center center/cover;
  height: 400px;
}

.slide:nth-child(4) {
  background: url(../img/room4.jpg) no-repeat center center/cover;
  height: 400px;
}

.slide:nth-child(5) {
  background: url(../img/room5.jpg) no-repeat center center/cover;
  height: 400px;
}

.buttons button#next {
  position: absolute;
  top: 45%;
  right: 10px;
}

.buttons button#prev {
  position: absolute;
  top: 45%;
  left: 10px;
}

.buttons button {
  border: none;
  background: #fff;
  color: #333;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background: var(--primary-color);
  color: #333;
}

/* Tablet Mobile Versions */
@media (max-width: 968px) {
  /* Burger Menu */
  .bottom-header-links ul {
    background: var(--secondary-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    position: fixed;
    top: 150px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.4s ease;
  }

  .burger-menu {
    display: block;
    z-index: 5;
  }

  .burger-menu:focus {
    outline: none;
  }

  .bottom-header-links ul.show {
    transform: translateX(0);
  }

  .bottom-header-links a {
    color: #fff;
  }

  .bottom-header-links li:last-child {
    display: none;
  }

  /* Header */
  .top-header .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* Showcase */
  .showcase h1 {
    transform: translatey(300px);
    font-size: 50px;
    text-align: center;
  }

  .showcase .container p {
    display: none;
  }

  .showcase a {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 350px auto;
  }

  #intro .container {
    flex-direction: column;
    text-align: center;
  }

  #intro-content a {
    margin-bottom: 15px;
  }

  /* Rooms */
  .rooms-header {
    flex-direction: column;
    text-align: center;
  }

  .rooms-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Services */
  .service-box-1 {
    text-align: center;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Gallery */
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-grid img {
    width: 100%;
  }

  /* Counter */
  #counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Newsletter */
  #newsletter::before {
    display: none;
  }

  #newsletter .container {
    flex-direction: column;
    text-align: center;
  }

  .newsletter-right input {
    text-align: center;
  }

  /* Footer */
  .footer-flex {
    flex-direction: column;
  }

  .footer-first {
    margin: auto;
    text-align: center;
  }

  .footer-newsletter {
    margin: auto;
    text-align: center;
  }

  .footer-links {
    margin: auto;
    text-align: center;
  }

  .social-icons {
    margin: auto;
  }

  /* About Page */
  /* Resort Story */
  #resort-story .container {
    flex-direction: column;
  }

  #resort-story img {
    width: 100%;
  }

  .resort-story-right {
    text-align: center;
  }

  .resort-story-right h2::before {
    display: none;
  }

  /* Why */
  .why-flex {
    flex-direction: column;
  }

  .why-left {
    margin: auto;
  }

  .why-left li {
    width: 100%;
  }

  .why-right img {
    width: 100%;
  }
}
